body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/*===============================
Header Styles
===============================*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*===============================
Main Styles
===============================*/

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between
}

.menu-bar {
    display: flex;
    justify-content: space-between;
}

.button-container {
    display: flex;
    position: relative;
    height: 3.5em;
    justify-content: center;
    margin: 2em;
}

.reset-button {
    position: absolute;
    right: 0px;
}


/*===============================
Form Styles
===============================*/

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*    flex-wrap: wrap;*/
}

.customizing-fieldset {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
    justify-content: center;
    grid-gap: 1rem;
}

/*===============================
Customization Window Styles
===============================*/

.customization-window {
    /*    display: flex;*/
}

.add-buttons {
    display: flex;
}

.add-go-button,
.add-rest-button,
.add-long-rest-button {
    flex: 1;
}

.customization-main-display {
    display: grid;
    grid-template-columns: auto 3fr 2fr;
    grid-auto-rows: 2rem;
    align-items: center;
    grid-row-gap: 0.1rem;
}
