/*===============================
Global Styles
===============================*/
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: #F9F9F9;
}

/*===============================
Header Styles
===============================*/
header {
    color: #F9F9F9;
    text-align: center;
    padding: 1rem;
    height: 9rem;
}

.title {
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.3rem;
    font-weight: 300;
}

/*header styles*/



/*===============================
Main Styles
===============================*/

main {
    max-width: 500px;
}

.menu-bar {
    margin: 2rem 1rem;
}

.menu-icon,
.settings-icon {
    width: 2rem;
    height: 2rem;
}

.state-message {
    font-size: 2rem;
    font-weight: 400;
    color: #5B5B5B;
}

.clock {
    font-size: 7rem;
    font-weight: 300;
    color: #5B5B5B;
    text-align: center;
}

.pause-button {
    width: 4rem;
    margin: 0 -6.3rem;
}

.play-button {
    width: 3.5rem;
    margin: 0 -6rem;
}

.reset-button {
    width: 1.5rem;

}

.reset-all-button {
    width: 3rem;
    height: 3rem;
}

.prev-button,
.next-button {
    width: 2rem;
    height: 2rem;
    align-self: center;
}

.next-button {
    transform: rotate(180deg);
}

.progress {
    font-size: 2rem;
    font-weight: 400;
    color: #5b5b5b;
    text-align: center;
    margin-bottom: 2rem;
}

/*main styles*/


/*===============================
Footer Styles
===============================*/
.credit {
    font-weight: 300;
    font-size: 1px;
    color: #5b5b5b;
}

footer a {
    text-decoration: none;
    color: rgba(29, 158, 255, 0.8);
}





/*===============================
Form Styles
===============================*/

.form-container {
    /*place form in the center of the screen*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 26.875rem;
}

form {
    display: none;
    padding: 2rem 1rem;
    font-size: 1rem;
    border: 2px solid rgba(29, 158, 255, 0.8);
    border-radius: 15px;
    width: 100%;
    margin: auto;
    position: relative;
    background: #F9F9F9;
    max-width: 540px;
    color: #5B5B5B;
    /*    height: 35vh;*/
}

input[type="number"] {
    width: 1.9rem;
    height: 1.75em;
    border: none;
    border-bottom: 2px solid rgba(29, 158, 255, 0.8);
    text-align: center;
    background: #F9F9F9;
    font-weight: 900;
    color: #5B5B5B;
    /*    margin-bottom: rem; */
}

.form-x-button,
.customization-x-button {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: .5em;
    right: .5em;
    opacity: 0.7;
}


.repeat-forever {
    text-align: center;
    font-size: 1rem;
    margin: 1rem 0;
}

.fully-customize-button {
    font-size: 1rem;
    display: block;
    width: 80%;
    margin: 1em auto;
    border-radius: 10px;
    background: #F9F9F9;
    height: 2em;
    border: 1px solid rgba(29, 158, 255, 0.8);
    color: #5B5B5B;
}

.fully-customize-button[disabled="true"] {
    color: lightgrey;
}


.form-ok-button,
.customization-ok-button {
    font-size: 1rem;
    display: block;
    width: 80%;
    margin: 1em auto;
    border-radius: 10px;
    color: #F9F9F9;
    background: rgba(29, 158, 255, 0.8);
    height: 2em;
    border: none;
}

/*===============================
Customization Window Styles
===============================*/

.customization-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 26.875rem;
    border: 1px solid black;
    height: 95vh;
    background: #F9F9F9;
    padding: 2rem 2rem 0rem 2rem;
    border: 2px solid rgba(29, 158, 255, 0.8);
    border-radius: 15px;
    display: none;
}

.customization-main-display {
    height: 75%;
    overflow: scroll;
    padding-bottom: 2rem;
}


.go-label {
    background: rgba(95, 207, 128, 0.8);
}

.rest-label {
    background: rgba(252, 136, 126, 0.8);
}

.long-rest-label {
    background: rgba(252, 136, 126, 1);
}

.go-minus-button {
    height: 2rem;
    width: 2rem;
    opacity: 0.8;
}

.rest-minus-button {
    height: 2rem;
    width: 2rem;
    opacity: 0.8;
}

.long-rest-minus-button {
    height: 2rem;
    width: 2rem;
}

.go-label,
.rest-label,
.long-rest-label {
    height: 2rem;
    color: #f9f9f9;
    text-align: center;
    padding-top: 0.4em;
    border-radius: 3.2px;
}

.customLengthControl {
    margin-left: .5rem;
}


.add-go-button,
.add-rest-button,
.add-long-rest-button {
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    height: 2rem;
    color: white;
    margin: 0 0.1rem;
}

.add-go-button {
    background: rgba(95, 207, 128, 0.8);
}

.add-rest-button {
    background: rgba(252, 136, 126, 0.8);
}

.add-long-rest-button {
    background: rgba(252, 136, 126, 1);
}

.customization-clear-button {
    font-size: 1rem;
    display: block;
    width: 80%;
    border-radius: 10px;
    color: #F9F9F9;
    background: #F9F9F9;
    height: 2em;
    border: 1px solid rgba(29, 158, 255, 0.8);
    margin: 2rem auto -.5rem;
    color: #5B5B5B;
}




input:disabled {
    color: lightgrey;
}

/*==================psuedo class========================*/

.pointer:hover {
    /*all the clickable buttons have the class .pointer*/
    cursor: pointer;
}

/*=====================Media Queries=========================*/

@media (min-width: 445px) {
    header {
        padding: 3em 0;
    }
}


@media (min-width: 500px) {
    main {
        min-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}


/*===============================
Test
===============================*/

.test {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background: tomato;
    transition: all 1s ease;
}

.test-button {
    border: 1px solid black;
}


::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f9f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar:horizontal {
    height: 0;
}
