/*=====================Base Styles==========================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    /*    background: rgb(29, 158, 255, 0.8);*/
    color: white;
    text-align: center;
}

.title {
    font-size: 2.9em;
    font-weight: 500;
}

.subtitle {
    font-size: 1.3em;
    font-weight: 300;
}

.menu-icon,
.settings-icon {
    width: 2em;
    height: 2em;
}

.state-message {
    font-size: 2em;
    font-weight: 400;
    color: #5B5B5B;
}

.clock {
    font-size: 7em;
    font-weight: 300;
    color: #5B5B5B;
    text-align: center;
}

.pause-button {
    width: 4em;
}

.play-button {
    width: 3.5em;
}

.reset-button {
    width: 1.5em;
}

.reset-all-button {
    width: 3em;
    height: 3em;
}

.progress {
    font-size: 2em;
    font-weight: 400;
    color: #5b5b5b;
    text-align: center;
    margin-top: 1em;
}

.credit {
    font-weight: 300;
    font-size: 1px;
    color: #5b5b5b;
}

footer a {
    text-decoration: none;
    color: rgb(29, 158, 255, 0.8);
}

/*=====================Base Layouts==========================*/

.container {
    margin: 0 10%;
}

header {
    padding: 3em 0;
}

.menu-bar {
    margin: 2em .5em;
}

/*=====================Form Layout========================*/



.form-container {
    /*place form in the center of the screen*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

form {
    display: none;
    padding: 2em;
    font-size: 1em;
    border: 2px solid rgb(29, 158, 255, 0.8);
    border-radius: 15px;
    width: 100%;
    height: 35vh;
    margin: auto;
    position: relative;
    background: white;
    max-width: 540px;
}

.question label {
    margin: 0.75em;
}

.answer input {
    margin: 0.75em;
    width: 3em;
    height: 1.75em;
    border: none;
    border-bottom: 2px solid rgb(29, 158, 255, 0.8);
    text-align: center;
    background: white;
    font-weight: 900;
}

.mins-label span {
    margin: 0.75em -0.4em;
}

.form-ok-button {
    display: block;
    width: 80%;
    margin: 1em auto;
    border-radius: 10px;
    color: white;
    background: rgb(29, 158, 255, 0.8);
    height: 2em;
    border: none;
}

.form-x-button {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: .5em;
    right: .5em;
    opacity: 0.7;
}

/*==================psuedo class========================*/

.pointer:hover {
    /*    all the clickable buttons have the class .pointer*/
    cursor: pointer;
}

/*==========================Themes==========================*/




/*=====================Media Queries=========================*/
