/*===============================
Global Styles
===============================*/
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


/*===============================
Header Styles
===============================*/
header {
    color: white;
    text-align: center;
    padding: 1rem;
    height: 9rem;
}

.title {
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.3rem;
    font-weight: 300;
}

/*header styles*/



/*===============================
Main Styles
===============================*/

main {
    max-width: 800px;
}

.menu-bar {
    margin: 2rem 1rem;
}

.menu-icon,
.settings-icon {
    width: 2rem;
    height: 2rem;
}

.state-message {
    font-size: 2rem;
    font-weight: 400;
    color: #5B5B5B;
}

.clock {
    font-size: 7rem;
    font-weight: 300;
    color: #5B5B5B;
    text-align: center;
}

.pause-button {
    width: 4rem;
}

.play-button {
    width: 3.5rem;
}

.reset-button {
    width: 1.5rem;
}

.reset-all-button {
    width: 3rem;
    height: 3rem;
}

.progress {
    font-size: 2rem;
    font-weight: 400;
    color: #5b5b5b;
    text-align: center;
    margin-bottom: 2rem;
}

/*main styles*/


/*===============================
Footer Styles
===============================*/
.credit {
    font-weight: 300;
    font-size: 1px;
    color: #5b5b5b;
}

footer a {
    text-decoration: none;
    color: rgb(29, 158, 255, 0.8);
}





/*===============================
Form Styles
===============================*/

.form-container {
    /*place form in the center of the screen*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 26.875rem;
}

form {
    display: none;
    padding: 2rem 1rem;
    font-size: 1rem;
    border: 2px solid rgb(29, 158, 255, 0.8);
    border-radius: 15px;
    width: 100%;
    margin: auto;
    position: relative;
    background: white;
    max-width: 540px;
    /*    height: 35vh;*/
}

input[type="number"] {
    width: 1.9rem;
    height: 1.75em;
    border: none;
    border-bottom: 2px solid rgb(29, 158, 255, 0.8);
    text-align: center;
    background: white;
    font-weight: 900;
    /*    margin-bottom: rem; */
}

.form-x-button {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: .5em;
    right: .5em;
    opacity: 0.7;
}


.repeat-forever {
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
}

.form-ok-button {
    display: block;
    width: 80%;
    margin: 1em auto;
    border-radius: 10px;
    color: white;
    background: rgb(29, 158, 255, 0.8);
    height: 2em;
    border: none;
}



input:disabled {
    color: lightgrey;
}

/*==================psuedo class========================*/

.pointer:hover {
    /*    all the clickable buttons have the class .pointer*/
    cursor: pointer;
}

/*=====================Media Queries=========================*/

@media (min-width: 445px) {
    header {
        padding: 3em 0;
    }
}


@media (min-width: 800px) {
    main {
        min-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}
