Future updates:

-Accessibility for mobile devices. Somehow it doesn’t work. (o) 11/18

-Edit the options widow. It doesn't fit the content (o) 11/20

-making the app object oriented sytle(11/23 Complete)
*State.js 11/21
*Timer.js 11/21
*Setting.js 11/22
*Controller.js 11/22
*Sound.js 11/23

-make it fully customizable: can adjust times so that it is not uniform, number of pomo sessions between long breaks, sound volume control (I want to add a nap session)
: do this with a todo list. 

*made customization page, not fully functioning yet.
* have to make clear all, x button for each, and transition fade in, and be able to reach this page through setting

(11/24) finished adding the fully customizing function. Have to clean up Setting.js though because it is very messy. Congrats!

* change it so that when customize button is pressed, the basic template of the states are preset. (o)




-Add next, prev button to navigate the timer (in progress)
* have to decrease the progress counter when StateManager.toPrevState() is called.(11/26)

-change all the icons to svg

-Customize sound bell and when it will ring before time is out.

-Make a circular progress bar around the clock. 

-Make a linear progression bar at the bottom showing which section the user is currently at.  Toggle hide and show.

-Let the user see what time it will end (toggle with hide and show)

-Use ‘Pomodoro Timer’ for the title tag, and then change it dynamically when the timer is started

-Use meta description tag

-When search term is not included in the description tag, it will not show up. (include important keywords) ex) best Pomodoro timer on the web that is guaranteed to boost your productivity
Meta keyword tag – google, bing doesn’t use it

-Make a circular progress bar around the clock. 

-finally, make this a game. People should be able to compete with each other and see the ranking who did the most. Give them accountability partners and make it a habit.